microservice-chart:
  namespace: "idpay"
  nameOverride: ""
  fullnameOverride: ""

  image:
    repository: cstardcommonacr.azurecr.io/idpaynotificationmanager
    tag: latest
    pullPolicy: Always

  livenessProbe:
    httpGet:
      path: /actuator/health
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 6
    periodSeconds: 10

  readinessProbe:
    httpGet:
      path: /actuator/health
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 10
    periodSeconds: 30

  deployment:
    create: true

  service:
    create: true
    type: ClusterIP
    port: 8080

  ingress:
    create: true
    host: "dev01.idpay.internal.dev.cstar.pagopa.it"
    path: /idpaynotificationmanager/(.*)

  serviceAccount:
    create: false
    annotations: {}
    name: ""

  podAnnotations: {}

  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false

  resources:
    requests:
      memory: "256Mi"
      cpu: "40m"
    limits:
      memory: "4Gi"
      cpu: "200m"

#  autoscaling:
#    enable: true
#    minReplica: 1
#    maxReplica: 2
#    pollingInterval: 30 # seconds
#    cooldownPeriod: 300 # seconds
#    triggers:
#      - type: azure-monitor
#        metadata:
#          tenantId: 7788edaf-0346-4068-9d79-c868aed15b3d
#          subscriptionId: ac17914c-79bf-48fa-831e-1359ef74c1d5
#          resourceGroupName: dvopla-d-sec-rg
#          resourceURI: Microsoft.KeyVault/vaults/dvopla-d-neu-kv
#          metricName: ServiceApiHit
#          # metricNamespace: Microsoft.KeyVault/vaults
#          # metricFilter: namespace eq 'default'
#          # metricAggregationInterval: "-1:1:0"
#          metricAggregationType: Count
#          targetValue: "30"
      
  envConfig:
    MONGODB_DBNAME: idpay
    APPLICATIONINSIGHTS_ROLE_NAME: "idpaynotificationmanager"
    APPLICATIONINSIGHTS_INSTRUMENTATION_LOGGING_LEVEL: "OFF"
    APPLICATIONINSIGHTS_INSTRUMENTATION_MICROMETER_ENABLED: "false"
    JAVA_TOOL_OPTIONS: '-Xms128m -Xmx4g -javaagent:/app/applicationinsights-agent.jar'

  envConfigMapExternals:
    idpay-common:
      TZ: TZ
    rest-client:
      IO_BACKEND_BASE_URL: io_backend_base_url
      IO_BACKEND_NOTIFY_URL: io_backend_message_url
      IO_BACKEND_PROFILE_URL: io_backend_profile_url
      PDV_DECRYPT_BASE_URL: pdv_decrypt_base_url
    idpay-eventhub-00:
      KAFKA_BINDER_BROKER_ENDPOINT_LIST: kafka_broker
      KAFKA_NOTIFICATION_SASL_MECHANISM: kafka_sasl_mechanism
      KAFKA_NOTIFICATION_SECURITY_PROTOCOL: kafka_security_protocol
      KAFKA_TOPIC_OUTCOME: idpay_onboarding_outcome_topic
      KAFKA_OUTCOME_GROUP_IN: idpay-onboarding-outcome-notify-consumer-group
      KAFKA_TOPIC_NOTIFICATION: idpay_notification_request_topic
      KAFKA_NOTIFICATION_GROUP_IN: idpay-notification-request-consumer-group
      
  envSecret:
    aks-api-url: cstar-d-weu-dev01-aks-apiserver-url
    MONGODB_URI: mongodb-connection-string
    KAFKA_OUTCOME_SASL_JAAS_CONFIG: evh-idpay-onboarding-outcome-idpay-onboarding-outcome-consumer-jaas-config-idpay-00
    KAFKA_OUTCOME_OUT_SASL_JAAS_CONFIG: evh-idpay-onboarding-outcome-idpay-onboarding-outcome-producer-jaas-config-idpay-00
    KAFKA_NOTIFICATION_SASL_JAAS_CONFIG: evh-idpay-notification-request-idpay-notification-request-consumer-jaas-config-idpay-00
    PDV_DECRYPT_API_KEY: pdv-api-key
    IO_BACKEND_API_KEY: io-backend-api-key
#    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key

  keyvault:
    name: "cstar-d-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  # nodeSelector: {}

  # tolerations: []

  # affinity: {}
